#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
}

/* ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-list li {
  display: inline;
} */

#horizontal-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#horizontal-list > li > a{
  margin: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #e9e9e9;
}

