.nav {
  padding: 30px 30px 70px 30px;
  display: flex;
  justify-content: space-between;
}

.nav_item {
  margin: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #CC4E46;
  transition: 0.2s;
}

.nav_item:hover {
  color: #712725;
  transition: 0.2s;
}

.logoName {
  position: absolute;
  top: 20px;
  /*left: 50%;*/
  color: #CC4E46;
  font-size: 45px;
  padding: 15px;
  border: 3px solid #CC4E46;
  border-radius: 5px;
}

.userName{
  margin: 10px 30px;
  font-size: 30px;
  color: #b0352c;
  /*color: #CC4E46;*/
}

