.company{
    height: 280px;
    width: 280px;
    margin: 12px;
    /*border: 2px solid #CC4E46;*/
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 15px 25px #c2c2c2;
    color: #CC4E46;
    position: relative;
}

.company:hover{
    background-color: white;
}

.company > p {
    font-size: 16px;
    margin: 0 10px;
    text-align: center;
}

.companyName{
    color: #b0352c;
    font-size: 20px !important;
    margin-bottom: 10px;
}

.image_cont {
    height: 100px;
    width: 100px;
    margin: 30px auto;
    position: relative;
}

.image {
    max-height: 100px;
    max-width: 100px;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.imageColor{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none;
}

.delete{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 !important;
}

