.companyInfo_cont{
    width: 650px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 15px 25px #c2c2c2;
    color: #CC4E46;
    font-size: 20px;
    margin: 45px auto;
    padding: 30px;
}

