footer {
  flex-shrink: 0;
}

#horizontal-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 30px;
}

#horizontal-list>li>a {
  margin: 10px;
  text-decoration: none;
  font-size: 24px;
  color: #CC4E46;
}

#horizontal-list>li>a:hover {
  color: #ff6255;
}