footer {
    flex-shrink: 0;
}

#horizontal-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#horizontal-list > li > a{
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #CC4E46;
    transition: 0.2s;
}

#horizontal-list > li > a:hover{
    color: #712725;
    transition: 0.2s;
}

#horizontal-list > li:nth-child(1){
    margin-left: 30px;
}
